<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>QR del Curso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="centered-container">
      <img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Logo_DuocUC.svg" alt="Login Image" class="login-image">
  
      <ion-card>
        <div class="contenedor-qr">
          
          <img src="assets/codigoQR.png" alt="Código QR" class="qr-image">
        </div>

        
        <ion-card-content>
          <h2>Detalles del Curso</h2>
          <p><strong>Nombre:</strong> {{ nombre }}</p>
          <p><strong>Código:</strong> {{ codigo }}</p>
          <p><strong>Sección:</strong> {{ seccion }}</p>
        </ion-card-content>

       
        <div class="botones">
          <ion-button (click)="Volver()">Volver</ion-button>
          <ion-button (click)="salirAplicacion()">Salir</ion-button>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>